@import "variables.scss";

.catalog {
  @include grid(repeat(5, 1fr), 65px 65px);
  width: fit-content;
  margin: 0 auto;

  &_h1 {
    margin-bottom: 35px;
  }

  &_pizza {
    @include flex(center, unset, column);
    width: fit-content;

    &_img {
      width: 240px;
    }

    &_name {
      @include font(20px, unset, unset, "ProximaNova_bold");
      margin: 10px 0 20px;
    }

    &_select-wrap {
      width: 100%;
      padding: 7px;
      margin-bottom: 17px;
      border-radius: 10px;
      background-color: #f3f3f3;
    }

    & ul {
      display: flex;
      font-weight: bold;

      & li {
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;

        &.active {
          background-color: #fff;
        }
      }
    }
    &_thickness-select {
      margin-bottom: 7px;
    }

    &_bottom {
      @include flex(center, space-between);
      width: 100%;

      &_price {
        @include font(22px, unset, bold);
        margin-top: 5px;
      }

      &_add-to-cart {
        padding: 10px 15px;
        border: 1px solid #eb5a1e;
        border-radius: 30px;
        @include font(20px, #eb5a1e, bold);

        &:hover {
          background-color: #eb5a1e;
          color: white;
        }
      }
    }
  }
}

@media (max-width: 1630px) {
  .catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1015px) {
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 700px) {
  .catalog {
    @include flex(center, unset, column);
  }
}
@media (max-width: 400px) {
  .catalog {
    gap: 30px;

    &_pizza {
      width: 250px;

      & img {
        width: 200px;
      }
    }
  }
}
