@import "variables.scss";

.header {
  @include flex(center, space-between);
  padding-bottom: 35px;
  border-bottom: 2px solid #f6f6f6;

  &_site-logo {
    @include flex(center);

    &_text {
      @extend %flex-column;
      margin-left: 15px;

      &_wrap {
        @include font(24px, unset, unset, "ProximaNova_bold");
      }
    }
  }

  &_cart-button {
    @include flex(center);
    position: relative;
    z-index: 2;
    padding: 15px 25px;
    border-radius: 30px;
    @include font(16px, white, bold);
    background-color: #fe5f1e;

    &:hover::before {
      content: "";
      width: calc(100% + 4px);
      height: calc(100% + 2px);
      position: absolute;
      top: -1px;
      left: -2px;
      background-color: #fe5f1e;
      border-radius: 100px;
      z-index: -2;
      filter: blur(7.5px);
    }

    &_price,
    &_items {
      @include flex(center);
    }

    &_price {
      border-right: 1px solid white;
      padding-right: 13px;
      margin-right: 13px;
    }

    &_items img {
      margin-right: 5px;
    }
  }
}
